body
  color red

rainbow-back()
  background-image linear-gradient(to right, red, orange, yellow, green, blue, purple)

rotate45()
  transform: rotateZ(45deg)

.miwa-rhombus
  margin 40px
  height 100px
  width 100px
  rainbow-back()
  rotate45()
