doctype html
html(lang="ja")
  head
    title TODO
    link(href="/css/style.css", rel="stylesheet")
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/js/script.js')
  body
    p html hello
