doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title TODO
    link(href="/css/style.css", rel="stylesheet")
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery.easing/js/jquery.easing.min.js')
    script(src='/js/script.js')
  body
    div.sushi-area
      span.sushi
        🍣
    div.miwa-rhombus
